<div class="jumbotron">
    <h1 class="display-4">Hello in Invoice APP!</h1>
    <p class="lead">App is created for business people who want to have control on own finances.</p>
    <hr class="my-4">
    <p>Try our application! Add your first client and add for him invoice!</p>
  </div>
  <div class="card-deck">
      <div class="card col-4 border-warning">
        <div class="card-body">
        <h2 class="card-title">Trial</h2>
        <p class="card-text">Try trial verson for 30 days. You will have full access to our app. 
          If something we be wrong you can write to our suppor and we wil help you.</p>
        </div>
      </div>
      <div class="card col-4 border-warning">
        <div class="card-body">
          <h2 class="card-title">Business</h2>
          <p class="card-text">Business version allows you to use our app all time with full support +
            you will have VPN for free.
          </p>
        </div>
      </div>
      <div class="card col-4 border-warning">
        <div class="card-body">
          <h2 class="card-title">Enterprise</h2>
          <p class="card-text">Enterprise version is the best option for large companies. This version allows you use our app all the time with full support +
            free VPN. Our support can customize our app 'stricte' for your <b>Business!</b>
          </p> 
        </div>
    </div>
  </div>