.add-client-invoice{
    margin: 20px 0;
    display: flex;
    .client-choose{
        margin-right: 20px;
    }
    .alert-wrapper{
        margin-left: 20px;
    }
    .alert{
        margin-bottom: 0px;
    }
}